<div class="encuesta-container" *ngIf="isLoading">
  <p>Cargando encuesta...</p>
</div>

<div class="encuesta-container" *ngIf="error">
  <p class="error-message">{{ error }}</p>
</div>

<div
  class="encuesta-container"
  *ngIf="formularioEncuesta && !isLoading && !error"
>
  <div class="encuesta-header">
    <img
      *ngIf="formularioEncuesta.empresa?.logoUrl"
      [src]="formularioEncuesta.empresa.logoUrl"
      alt="{{ formularioEncuesta.empresa.nombre }} Logo"
      class="empresa-logo"
    />
    <h1>{{ formularioEncuesta.encuesta.titulo }}</h1>
    <p>{{ formularioEncuesta.encuesta.descripcion }}</p>
  </div>

  <form [formGroup]="encuestaForm" (ngSubmit)="submitEncuesta()">
    <div
      formArrayName="preguntas"
      *ngFor="let preguntaGroup of preguntasFormArray.controls; let i = index"
    >
      <div [formGroupName]="i" class="pregunta-card">
        <h3>
          {{ i + 1 }}.
          {{ formularioEncuesta.preguntas[i].textoPregunta }}
        </h3>
        <div class="respuestas-group">
          <div
            *ngFor="let respuesta of formularioEncuesta.preguntas[i].respuestas"
            class="respuesta-item"
          >
            <input
              type="radio"
              [id]="'pregunta' + formularioEncuesta.preguntas[i].idPregunta + 'respuesta' + respuesta.idRespuesta"
              [value]="respuesta.idRespuesta"
              formControlName="respuestaElegida"
              />
            <label
              [for]="'pregunta' + formularioEncuesta.preguntas[i].idPregunta + 'respuesta' + respuesta.idRespuesta"
            >
              {{ respuesta.texto }}
            </label>
          </div>
        </div>
        <div *ngIf="preguntaGroup.get('respuestaElegida')?.touched && preguntaGroup.get('respuestaElegida')?.errors?.['required']"
             class="error-message">
          Por favor, selecciona una respuesta.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="encuestaForm.invalid">
      Enviar Encuesta
    </button>
  </form>

  <div class="modal-overlay" *ngIf="showCuponPopup">
  <div class="modal-content">
    <h2>¡Encuesta enviada exitosamente!</h2>
    <p>¡Gracias por tu tiempo!</p>

    <div *ngIf="cuponInfo" class="cupon-details-popup">
      <h3>Aquí tienes tu cupón de agradecimiento:</h3>
      <p><strong>Código:</strong> {{ cuponInfo.codigoCupon }}</p>
      <p><strong>Descripción:</strong> {{ cuponInfo.descripcion }}</p>
      <p><strong>Válido hasta:</strong> {{ cuponInfo.fechaExpiracion | date:'dd/MM/yyyy' }}</p>
    </div>
    <div *ngIf="!cuponInfo" class="no-cupon-message">
      <p>No hay un cupón disponible para esta encuesta.</p>
    </div>

    <button class="close-modal-btn" (click)="closeCuponPopup()">Cerrar</button>
  </div>
</div>